    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to my website!</div>
                <div class="intro-heading">It's nice to meet you</div>
                <a href="#about" class="page-scroll btn btn-xl">About me</a>&nbsp;&nbsp;&nbsp;
                <a href="#portfolio" class="page-scroll btn btn-xl">My portfolio</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->